@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/grid/columns.sass';

/// Variables
$chive: #9fff79;
$red-onion: #be79ff;
$garlic: #fafafa;
$black-garlic: #404040;
$yellow-onion: #ffb900;